.small {
   font-size: 10px;
}
.big {
   font-size: 16px;
}
.result {
   margin-left: auto;
   margin-right: auto;
   width: 250px;
   text-align: center;
   font-size:130%;
   padding: 20px;
   background:#62af56;
   background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
   background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
   border-color: #2d6324;
   color: #000;
   text-shadow: #8cee7c 0px 1px 0px;
}
a.result_text {
	color: #203d6c;
	text-decoration: none;
	font-weight: bold;
}
a.result_text:hover {
	color: #367889;
	text-decoration:none;
}
.toright {
   float: right;
}
.tocenter {
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
a.beta {
	color: #F0F0F0;
	text-decoration: none;
	font-weight: bold;
}
a.beta:hover {
	color: #F0FFF0;
	text-decoration:none;
}